{
  "presets": [
    ["env", { "modules": false }],
    "stage-2"
  ],
  "ignore": [
    "./src/assets/js/upload/jquery.uploadify.min.js"
  ],
  "plugins": ["transform-runtime"],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
